<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1 class="checkout-head"> <a href="https://www.google.com/gmail/">Check your e-mail for more information...</a> </h1>
            <img class="checkout-logo" src="assets/gmail-logo.png">
        </main>
        <%- include('../includes/end.ejs') %>